/* icon-font --start*/
@font-face {
    font-family: "xiangle";
    src: url("../../fonts/xiangle.eot?#iefix") format("embedded-opentype")
        ,url("../../fonts/xiangle.woff") format("woff")
        ,url("../../fonts/xiangle.ttf") format("truetype")
        ,url("../../fonts/xiangle.svg") format("svg");
    font-style: normal;
    font-weight: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: "xiangle";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 22px;
    border-radius: 10rem;
}

.icon-zhushi:before {
    content: "\f024";
}
.icon-meat:before{
    content: "\f0f5";
}
.icon-soul:before{
    content: "\f004";
}
.icon-fruit:before{
    content: "\f284";
}
.icon-drink:before{
    content: "\f0fc";
}
.icon-time:before {
    content: "\f185";
}
.icon-people:before{
    content: "\f007";
}
.icon-function:before{
    content: "\f09a";
}
.icon-taste:before {
    content: "\f284";
}
.icon-cook:before {
    content: "\f1b1";
}
/*icon-font --end*/
/*头部开始*/
.public-header{
    background: #43c475;
    color:#fff;
    width: 100%;
    height: 1.01rem;
    border-bottom: 1px solid #21897d;
    display: -webkit-box;
    display: -ms-flexbox;
}
.public-header .ph-left{
}
.ph-left .go-to-back{
    height: 1rem;
    width: .45rem;
    line-height: 1rem;
    padding: 0 .3rem;
}
.ph-left .go-to-back .css-icon-back{
    width: .45rem;
    height: .45rem;
    vertical-align: middle;
    position: relative;
    display: inline-block;
}
.css-icon-back:before {
    content: '';
    display: block;
    position: absolute;
    left: .07rem;
    top: 0;
    width: .4rem;
    height: .4rem;
    border-bottom: .04rem solid #fff;
    border-left: .04rem solid #fff;
    -webkit-transform: scaleY(0.8) rotateZ(45deg);
    -moz-transform: scaleY(0.8) rotateZ(45deg);
    -ms-transform: scaleY(0.8) rotateZ(45deg);
}
.public-header .ph-center{
    -webkit-box-flex: 1;
}
.ph-center h2{
    font-size: .36rem;
    text-align: center;
    line-height: 1rem;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: .28em;
    line-height: 1;
    color: #333;
    background-color: #f0efed;
}
/*头部结束*/
.findPassword-ul{
    margin: 0;
    margin-bottom: -1px;
    padding-left: .2rem;
    border: 0;
    background: #fff;
}
.findPassword-li{
    padding: 0.28rem 0.2rem;
    border-bottom: 1px solid #DDD8CE;
    position: relative;
    display: -webkit-box;
}
.findPassword-li input{
    width: 100%;
    display: block;
    
}
input.input-weak, textarea.input-weak {
    border: 0;
    height: .6rem;
    margin: -.15rem 0;
    text-indent: .1rem;
    line-height: 1;
    font-size: .3rem;
    border-radius: .06rem;
    padding: 0;
    -webkit-box-flex: 1;
    margin-right: .2rem;
}
.refresh{
    display:block;
}
.refresh img{
    width: 1.5rem;
    height: 0.75rem;
    margin: -.28rem 0;
    vertical-align: middle;
    border: 0;
}
.refresh .btn{
    margin-top: -.15rem;
    margin-bottom: -.15rem;
    margin-left: .2rem;
    border: .01rem solid #06c1ae;
    padding: 0.15rem;
    background: 0;
    color: #06c1ae;

}
.btn-wrapper{
    padding:0.2rem;
}
.btn-wrapper button{
    height: .94rem;
    line-height: .94rem;
    font-size: .4rem;
    padding: 0 .32rem;
    border-radius: .06rem;
    color: #fff;
    border: 0;
    background-color: #06c1ae;
    display: block;
    width: 100%;
}